<ion-header [translucent]="true">
  <ion-toolbar class="hd"> 
    <ion-title><center><b>CONTACTS</b></center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
  <ion-list>
       <ion-item>
        <ion-img src="assets/images/phone.png"></ion-img>
          <ion-name>Phone Number: 09385079502</ion-name>
        </ion-item>
        <ion-item>
          <ion-img src="assets/images/facebook.png"></ion-img>
          <ion-name>Facebook Account: Analyn Masana</ion-name>
        </ion-item>
        <ion-item>
          <ion-img src="assets/images/instagram.gif"></ion-img>
           <ion-name>Instagram Account: masanaanalyn</ion-name>
        </ion-item>
        <ion-item>
          <ion-img src="assets/images/gmail.png"></ion-img>
          <ion-name>Gmail Account: analynmasana08@gmail.com</ion-name>
       </ion-item> 
       <ion-item>
          <ion-img src="assets/images/snapchat.png"></ion-img>
          <ion-name>Snapchat Account: analyn_masana</ion-name>
       </ion-item> 
    </ion-list>
</ion-toolbar>
</ion-content>
