<ion-header [translucent]="true">
  <ion-toolbar class="hd"> 
    <ion-title><center><b>PROFILE</b></center></ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" class="body">
  <center>
    <ion-toolbar class="body">
      <img src="assets/images/8.jpg">
    </ion-toolbar>
      <b class="bio">" Every mistakes, gives us a meaning lessons "</b>
  </center>
  <center>
    <table border="0">
      <tr>
        <td><b>Name: </b>Analyn Velarde Masana <br><b>Address:</b> Brgy. Cuta Barugo, Leyte <br><b>Sex: </b>Female <br><b>Date of Birth: </b>October 8, 1998<br><b>Age: </b>23<br><b>Religion:</b>Roman Catholic</td>
      </tr>
    </table>
  </center>

</ion-content>
